/* Site Theme */

/** the hell that is fonts... **/


@font-face {
    font-family: 'Anonymous Pro';
    src: url(anon.ttf);
}

/** Containers **/

.container-narrow {
    max-width: 800px;
    margin: 0 auto 30px;
    padding-bottom: 5px;
}

.contentbox {
    font-family: 'Anonymous Pro', 'consolas', monospace;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

/** Elements **/

h3, h2, h1 {
    /* Underline headers across container */
    border-style: none none solid none;
    border-color: white;
    border-width: 1px;
}

a:hover {
    text-decoration: underline;
}

img {
    text-align: center;
    display: block;
    margin: 2em auto 2em auto;
}

img.logo {
    display: block;
    vertical-align: middle;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    margin: auto;
}

hr {
    border-color: white;
}

.btn-primary {
    background-image: none;
    background-repeat: repeat;
    border-color: currentColor;
    color:white;
    text-shadow:none;
}

.btn {
    background-color:#006dcc;
    background-image: none;
    background-repeat: repeat;
    border-color: currentColor;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0s;
    border-image-repeat: stretch;
    color:white;
    text-shadow:none;
    border-radius:0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius:2px;
}



/* Navigation Bar */


.navbar-inner {
    max-width: 1250px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #555;
    padding: 5px 0px 5px 0px;
    margin: 10px auto;

    filter: none;
}

.navbar .nav {
    float: right;
}

.navbar .brand {
    font-family: 'Anonymous Pro', 'consolas', monospace;
    font-size: 50px; 
    font-weight: bold;
    text-shadow: inherit;
    margin-left: 0;
    margin-right: 20px;
    vertical-align: none;
    color: orange;
}

.navbar .brand img{
    margin:0 0 0 -15%;
    text-align: 0;
    display:inline;
    vertical-align:baseline;
}

.navbar .nav li, .navbar .nav li a {
    text-transform: uppercase;
    font-family: 'Anonymous Pro', 'consolas', monospace;
    font-size: 1em;
    text-shadow: inherit;
    color:orange;
}

.navbar .nav li a:hover, .navbar .nav .active a:hover {
    color: white;
    background-color: inherit;
    box-shadow: inherit;
    cursor: pointer;
}

.navbar .nav .active a {
    color: white;
    background-color: inherit;
    box-shadow: inherit;
    text-decoration: underline;
}

/*Twitter feed */
#twitter-widget-0 {
    margin-left:5em;
}

/* Footer */

.footer {
    text-align: center;
    padding-top: 1em;
    margin-top: 3em;
    font-size:11px;
}


.widgetbox .row-fluid .span4, .widgetbox .row-fluid .span6 {
    /** This is an ugly way of overriding Bootstrap's row spacing. **/
    padding: 0px 15px 0px 15px;
}

.sponsor-rollcall {
    color: white;
    text-align: center;
}

.widgetbox h5 {
    /** Column header **/
    text-transform: uppercase;
}

.widgetbox img.logo {
    height: 140px;
}

.twitter-embed {
    text-align: center;
}
